<ion-header>

  <ion-navbar>
    <ion-title>rhizome</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- Active Rhizome Interface Display -->
   <div class="rhizome-row">
     <ion-row >
        <!-- <ion-col *ngFor="let p of pins1_2">
          <ion-item>
            <ion-icon
              name="{{p.icon}}"
              color="{{p.isOn? 'danger':'dark'}}">
            </ion-icon>
            {{p.name}}
            <ion-toggle checked="{{p.isOn}}"></ion-toggle>
          </ion-item>
        </ion-col> -->
      </ion-row>
      <ion-row >
         <ion-col>
         </ion-col>
       </ion-row>
       <ion-row >
          <ion-col>
          </ion-col>
        </ion-row>
   </div>

<!-- Temperature HUD -->
  <ion-list>
    <ion-item *ngFor="let t of temps">
      <ion-icon name="thermometer" item-left></ion-icon>
        {{t.name}}
      <ion-note item-right>
      {{t.temp}} &#176; {{t.isCelcius? 'C':'F' }}
      </ion-note>
    </ion-item>

    <ion-item *ngFor="let t of targetTemps">
      <ion-icon name="thermometer" item-left></ion-icon>
        Target {{t.name}} Temp
      <ion-note item-right
      (click)="adjustTargetTemp(t)">
      {{t.temp}} &#176; {{t.isCelcius? 'C':'F' }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="beer" item-left></ion-icon>
        HomeBrew
      <ion-note item-right>
        relax and have one
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
