<ion-header>

  <ion-navbar>
    <ion-title>rhizome</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- Active Rhizome Interface Display -->
   <div class="rhizome-row">
     <ion-row >
       <ion-col></ion-col>
        <ion-col *ngFor="let p of pins1_2">

          <ion-icon
            name="{{p.icon}}"
            >
            <ion-icon class="in-context-power"
              name="power"
              color="{{p.isOn? 'danger':'dark'}}"
              (click)="toggleEquipmentPower(p)">
            </ion-icon>

            <label>{{p.name}}</label>
            <label class="in-context-pin" color="dark">{{p.pin}}:</label>
          </ion-icon>
          <!-- <ion-toggle class="in-context-power"
          checked="{{p.isOn}}"
          color="danger"
          (click)="toggleEquipmentPower(p)">
          </ion-toggle> -->


        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col></ion-col>
         <ion-col *ngFor="let p of pins3_4">

           <ion-icon
             name="{{p.icon}}"
             >
             <!-- <ion-icon class="in-context-power"
               name="power"
               color="{{p.isOn? 'danger':'dark'}}"
               (click)="toggleEquipmentPower(p)">
             </ion-icon> -->
             <ion-icon class="in-context-link"
               name="git-compare"
               color="primary"
               (click)="toggleEquipmentPower(p)">
             </ion-icon>
             <ion-toggle class="in-context-power"
             checked="{{p.isOn}}"
             color="danger"
             (click)="toggleEquipmentPower(p)">
             </ion-toggle>
             <label>{{p.name}}</label>
             <label class="in-context-pin" color="dark">{{p.pin}}:</label>
           </ion-icon>



         </ion-col>
       </ion-row><ion-row >
         <ion-col></ion-col>
          <ion-col *ngFor="let p of pins5_6">

            <ion-icon
              name="{{p.icon}}"
              >
              <ion-icon class="in-context-power"
                name="power"
                color="{{p.isOn? 'danger':'dark'}}"
                (click)="toggleEquipmentPower(p)">
              </ion-icon>

              <label>{{p.name}}</label>
              <label class="in-context-pin" color="dark">{{p.pin}}:</label>
            </ion-icon>
            <!-- <ion-toggle class="in-context-power"
            checked="{{p.isOn}}"
            color="danger"
            (click)="toggleEquipmentPower(p)">
            </ion-toggle> -->


          </ion-col>
        </ion-row>
   </div>

<!-- Temperature HUD -->
  <ion-list>
    <ion-item *ngFor="let t of temps">
      <ion-icon name="thermometer" item-left></ion-icon>
        {{t.name}}
      <ion-note item-right>
      {{t.temp}} &#176; {{t.isCelcius? 'C':'F' }}
      </ion-note>
    </ion-item>

    <ion-item *ngFor="let t of targetTemps">
      <ion-icon name="thermometer" item-left></ion-icon>
        Target {{t.name}} Temp
      <ion-note item-right
      (click)="adjustTargetTemp(t)">
      {{t.temp}} &#176; {{t.isCelcius? 'C':'F' }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="beer" item-left></ion-icon>
        HomeBrew
      <ion-note item-right>
        relax and have one
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
