page-rhizome {
  .rhizome-row {
      ion-icon.in-context-power {
        font-size: 20px;
        position: absolute;
        right: 6px;
        top: 10px;
      }
      ion-toggle.in-context-power {
        font-size: 20px;
        position: absolute;
        right: 0px;
        top: 10px;
      }
      label.in-context-pin {
        font-size: 10px;
        position: absolute;
        left: 6px;
        top: 10px;
      }
      ion-icon.in-context-link {
        font-size: 20px;
        position: absolute;
        right: 6px;
        bottom: 20px;
      }
      ion-icon {
        font-size: 50px;
      }

      ion-row {
        height: 100%;
        flex-wrap: wrap;
      }

      ion-col {
        flex: 0 0 25%;
        max-width: 50%;
        text-align: center;
        padding: 10px 2px;
        position: relative;
      }
      label{
        display: block;
        font-size: 10px;
      }
    }

}
